body
{
background-image: url(fondo1.jpg);
}

h1
{
  
  color:rgb(250, 192, 232);
  background-color: rgb(237, 131, 251);
  font-weight: bold;
}

#uni2
{
  float:right;
  background-color: hsl(294, 100%, 79%);
  font-weight: bold;
}

canvas 
  {
    border:5px solid #fcc6fc;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px; 
    animation-iteration-count: infinite;
    
}
@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(238, 186, 255);}
  to {box-shadow: 1px 1px 38px rgb(255, 165, 246);}

}
#uni1
{
    background-color: rgb(250, 110, 255);
    font-weight: bold;
}

p
  {
    padding-top:10px;
    font-size:25px;
    
  }

